<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<div th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div class="row">
        <div class="text-center" style="margin: 15% 0 15% 0">
            <H1>Welcome to your address book</H1>
            <a th:href="@{/contact-book/showAll}" methods="get"><button type="button" class="btn btn-primary" >Open Address book</button></a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>