<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>
<head>
    <title>Address book</title>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<H1>Contact List</H1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Contact ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
    </tr>
    </thead>
    <tbody class="tbody-custom">
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.contactBookId}">Contact ID</td>
        <td th:text="${contact.name}">Name</td>
        <td th:text="${contact.email}">Email</td>
        <td th:text="${contact.phoneNumber}">Phone Number</td>
    </tr>
    </tbody>
</table>
</body>
</html>